.App {
  text-align: center;
  width: 600px;
}

h1 {
  font-size: 47px;
  font-family: 'Montserrat';
}

h2 {
  font-size: 22px;
  font-family: 'RobotoLight';
}

.logo {
  font-size: 47px;
  font-family: 'Montserrat';
}

.section-headings {
  font-size: 22px;
  font-family: 'RobotoLight';
}

.normal-text {
  font-size: 16px;
  font-family: 'RobotoLight';
}

.url-body {
  font-size: 16px;
  font-family: 'RobotoRegular';
}

.table-headings {
  font-size: 14px;
  font-family: 'RobotoRegular';
}

/*To remove the blue glow around button and input fields.*/
button:focus {outline:0;}
input:focus {outline:0;}
