body {
  margin: 0;
  padding: 10;
  font-family: sans-serif;
  background-color: #F9F7F6;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
    color:    #CCCCCC;
}
:-moz-placeholder {
    color:    #CCCCCC;
}
::-moz-placeholder {
    color:    #CCCCCC;
}
:-ms-input-placeholder {
    color:    #CCCCCC;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), url(./fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoRegular';
  src: local('RobotoRegular'), url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
